.navbar {
	list-style: none;
	margin-left: 0;
}

.navbar li {
	display: inline-block;
}

.navbar li:after {
	content: "|";
	display: inline;
	margin: 0 0.3em;
	padding: 0;
}

.navbar li:first-child:after,
.navbar li:last-child:after {
	content: "";
	margin: 0;
}

.pagination {
	float: left;
}

.resources-per-page {
	float: right;
}

#search {
	clear: both;
}

.skip {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

.button {
	border-radius: 3.6px;
	display: inline-block;
	padding: 9.9px
}

.button {
	background: #f2f2f2;
	color: #191919;
	cursor: pointer;
	display: inline-block;
	margin: 20px 0;
	padding: 6px 24px;
	text-align: center
}

.button:hover {
	background: #d9d9d9;
	color: #000;
	text-decoration: none;
}

.button.submit {
	background: #275a90;
	color: #fff
}

.button.submit:hover {
	background: #173454;
	color: #bfbfbf
}
