<p>
    <f:translate key="about.list.resourcesPerPage" />
    <a href="{environment.TYPO3_REQUEST_HOST}/id/about.html?tx_vocabulary_about[page]={arguments.page}&tx_vocabulary_about[limit]=50">50</a> | 
    <a href="{environment.TYPO3_REQUEST_HOST}/id/about.html?tx_vocabulary_about[page]={arguments.page}&tx_vocabulary_about[limit]=100">100</a> | 
    <a href="{environment.TYPO3_REQUEST_HOST}/id/about.html?tx_vocabulary_about[page]={arguments.page}&tx_vocabulary_about[limit]=200">200</a> | 
    <a href="{environment.TYPO3_REQUEST_HOST}/id/about.html?tx_vocabulary_about[page]={arguments.page}&tx_vocabulary_about[limit]=500">500</a>
</p>
